@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 2s ease-in;
  }
.nav-item {
  position: relative;
  z-index: 1;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 12px;
  background: rgba(96, 165, 250, 0.3);
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.nav-item:hover::before {
  opacity: 1;
}

.hover\:shadow-glow:hover {
  box-shadow: 0 0 10px 3px rgba(96, 165, 250, 0.6);
}